# Documentation
HELP.md

# Compiled files and build directories
target/
*.class

# Maven-specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.flattened-pom.xml

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Project-specific exclusions
*.iws
*.iml
*.ipr
.project
.classpath
.sts4-cache

# IDE-specific exclusions
.idea/
.vscode/
.apt_generated/
.springBeans
.settings/

# Eclipse-specific files
.metadata
bin/
tmp/
.factorypath
.loadpath
.recommenders/

# VSCode-specific files
.vscode/

# Linux-specific
*~
.fuse_hidden*
.directory
.Trash-*

# Windows-specific
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
Desktop.ini
*.lnk

# macOS-specific
*.DS_Store
.DS_Store

# Miscellaneous
hs_err_pid*
*.log

# Jar files in specific directories (e.g., lib/)
lib/*.jar
